.header_container {
    background-color: #000000 !important;
    min-height: 7rem;
}

.header_styling {
background-color: #000000 !important;
min-height: 7rem;
display: flex;
justify-content: center;
}

.navbar_styling {
    color: #ffffff;
    display: block;
    text-transform: none;
    cursor: pointer;
    font-size: 21px !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 20px !important;
}

.mobile_navbar ul {
    width: 50vw;
}

.main_container {
    padding-left: 0;
    padding-right: 0;
}

.toolbar_styling {
    width: 100%;
    display: flex;
    align-items: center;
}

.white_logo_styling {
    margin-right: 20px;
    cursor: pointer;
}

.background_image_style {
    position: relative;
    width: 100vw;
    min-height: 88vh; /* Ensure at least 88vh height */
    height: auto; /* Allow dynamic height expansion */
    background-image: url('/webImages/landing_page/home_page_bg_image.png');
    background-size: cover; /* Ensure full coverage */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay_styling {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.left_grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}

.welcome_to_raalc {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

.your_search_for {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.real_estate_lawyer {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.what_can_we_do {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 25%;
}

.transaction_services {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}

.legal_experts {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.ensure_protection {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: #dab35c;
    padding: 20px;
    border-radius: 50px;
}

.form_heading {
    color: #dab35c;
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-right: 60px;
    text-align: center;
    margin-bottom: 15px;
}
.form_footer {
    color: #dab35c;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-right: 60px;
    text-align: center;
    margin-top: 10px;
}

.form_container {
    background-color: #ffffff;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 40px;
}
  
@media (max-width: 1522px) {
    .what_can_we_do {
        margin-top: 5%;
    }
    .your_search_for {
        font-size: 34px;
    }
    .real_estate_lawyer {
        font-size: 34px;
    }
    .what_can_we_do {
        font-size: 34px;
    }
    .transaction_services {
        font-size: 34px;
    }
  }

  @media (max-width: 1048px) {
    .what_can_we_do {
        margin-top: 3%;
    }
    .your_search_for {
        font-size: 24px;
    }
    .real_estate_lawyer {
        font-size: 24px;
    }
    .what_can_we_do {
        font-size: 24px;
    }
    .transaction_services {
        font-size: 24px;
    }
  }

  @media (max-width: 899px) {
    .background_image_style {
        min-height: 100vh; /* Ensures the background extends fully */
        height: auto; /* Allows dynamic height increase */
        padding-bottom: 50px; /* Prevents content cutoff */
      }
    .what_can_we_do {
        margin-top: 3%;
    }
    .your_search_for {
        font-size: 18px;
    }
    .real_estate_lawyer {
        font-size: 18px;
    }
    .what_can_we_do {
        font-size: 18px;
    }
    .transaction_services {
        font-size: 18px;
    }
    .background_image_style {
        height: 83vh;
    }  
  }

  @media (max-width: 427px) {
    .ensure_protection {
        font-size: 18px;
    }
  }