.whatsapp_button {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Moved from right to left */
    width: 100px;
    height: 100px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp_button:hover {
    transform: scale(1.1);
}

.whatsapp_icon {
    width: 80px;
    height: 80px;
}
