
body.Ar {
  direction: rtl;
}

body.Ar .bannertxt2  {
  left: auto;
  right: 9rem;
}
body.Ar span::after {
  left: auto;
  right: -1rem;
}
body.Ar .sample-slider,
body.Ar .bannerRight,
body.Ar .about2BodySwiper,
body.Ar .bannerImg,
body.Ar .section7mySwiper  {
  direction: ltr;
}
body.Ar .section6btn,
body.Ar .close svg,
body.Ar .accordions img   {
  margin-left: 0;
  margin-right: auto;
}

body.Ar .consModelMainr .h4  {
  padding-right: 1rem;
}
body.Ar .consModelMainr .h4::before  {
  right: 0;
  left: auto;
}



/* Group 33834 */
