.background {
   background-color: #ffffff;
}

.commitment_heading {
    color: #dab35c;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 900;
}
.client_container {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.section_line {
    flex-grow: 1;
    height: 3px;
    background-color: white;
    margin: 0 20px;
}
.history_heading {
    font-family: Montserrat, sans-serif;
    color: #dab35c;
    font-size: 23px;
    margin-top: 15px;
}



.teamSection {
    position: relative;
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .teamContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
  }

  .image_styling {
    height: 350px;
    width: 350px;
    object-fit: cover;
  }
  
  .imageWrapper {
    width: 320px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media (max-width: 1522px) {
    .commitment_heading {
        font-size: 34px;
    }
  }

  @media (max-width: 1024px) {
    .teamContainer {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }

    .image_styling {
        height: 350px;
        width: 350px;
      }
      
  
    .imageWrapper {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .teamContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .imageWrapper {
      width: 100%;
    }

  }

  @media (max-width: 1048px) {
    .commitment_heading {
        font-size: 24px;
    }
  }
  @media (max-width: 899px) {
    .history_heading {
        font-size: 18px;
    }
    .commitment_heading {
        font-size: 18px;
    } 
      
  }
  @media (max-width: 768px) {

    .section_line {
        display: none;
    }

}