.background {
  background: linear-gradient(to left, #063a5f, #1a4669, #466f9b);
    /* position: relative;
    width: 100%;
    background-image: url('/webImages/landing_page/team.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.btn_container {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 8%;
}

.get_started_btn {
  background-color: #dab35c !important;
  color: #ffffff !important;
  font-weight: bold !important;
  text-transform: none !important;
  height: 65px !important;
  font-size: 24px !important;
  padding: 10px 30px !important;
  border-radius: 15px !important;
  transition: background-color 0.3s ease-in-out;
  font-family: Montserrat, sans-serif;
}

.get_started_btn:hover {
  background-color: #E5C16C !important;
}

.get_started_btn_lawyer {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  text-transform: none !important;
  height: 65px !important;
  font-size: 24px !important;
  padding: 10px 30px !important;
  border-radius: 15px !important;
  transition: background-color 0.3s ease-in-out;
  font-family: Montserrat, sans-serif;
}

.get_started_btn_lawyer:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}
.commitment_heading {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 900;
}
.client_container {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.section_line {
    flex-grow: 1;
    height: 3px;
    background-color: white;
    margin: 0 20px;
}
.history_heading {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 23px;
    margin-top: 15px;
}



.teamSection {
    position: relative;
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .teamContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4%;
    padding-right: 3%;
    padding-left: 3%;
  }

  .image_styling {
    height: 300px;
    width: 300px;
    transition: all 0.5s ease-in-out;
  }
  
  .teamCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 300px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }
  /* .teamCard:hover {
    width: 360px;
    transform: scale(1.1);
  } */
  
  .imageWrapper {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centerize_content {
    text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
  word-break: break-word;
  }
  
  .memberInfo {
    background-color: #dab35c;
    padding: 40px 20px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    width: 260px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .memberInfo h3 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
  
  .memberInfo p {
    font-size: 19px;
    margin: 5px 0 0 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
  


  

@media (max-width: 1522px) {
    .commitment_heading {
        font-size: 34px;
    }
  }

  @media (max-width: 1024px) {
    .teamContainer {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .image_styling {
      height: 280px;
      width: 280px;
      transition: all 0.5s ease-in-out;
    }
      /* .image_styling:hover {
        height: 290px;
        width: 290px;
        transform: scale(1.1);
      } */
      
  
      .teamCard {
        width: 280px;
        height: 280px;
        transition: all 0.5s ease-in-out;
      }
  
    .imageWrapper {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .get_started_btn_lawyer {
      font-size: 20px !important;
      height: 50px !important;
      padding: 8px 25px !important;
  }
    .get_started_btn {
      font-size: 20px !important;
      height: 50px !important;
      padding: 8px 25px !important;
  }
    .teamContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .imageWrapper {
      width: 100%;
    }
  
    .memberInfo {
      width: 100%;
    }
  }

  @media (max-width: 1048px) {
    .commitment_heading {
        font-size: 24px;
    }
  }
  @media (max-width: 899px) {
    .history_heading {
        font-size: 18px;
    }
    .commitment_heading {
        font-size: 18px;
    } 
    .memberInfo h3 {
        font-size: 22px;
      }
      
      .memberInfo p {
        font-size: 18px;
      }
      
  }
  @media (max-width: 768px) {

    .section_line {
        display: none;
    }

}